main {
    margin-top: 25%;
}

.headd1 {
    height: 25%;
    background-color: black;
}

#dropdown {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    transition: .9s;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    margin-left: 9px;
}

.flex > div {
    width: 100%;
    text-align: center;
}

.a {
    color: white;
}

.a:visited {
    color: white;
}

/*Home Page*/

.headd5 {
    height: 25%;
    background-color: #cc0000;
}

.sect {
    padding: 9px;
    margin-top: 9px;
}

.sect:hover {
    background-color: white;
    transition: .65s;
}

.sect:hover > a {
    transition: .65s;
    color: #cc0000;
}

.bott {
    padding-bottom: 9px;
}

.bott {
    padding: 9px;
    margin-top: 9px;
}

.bott:nth-child():hover {
    background-color: white;
    transition: .65s;
}

.bott:nth-child():hover > a {
    transition: .65s;
    color: #cc0000;
}

.button {
    border-radius: 50%;
    background-color: white;
    margin-top: 9px;
}

.sidenav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-y: hidden;
    transition: 0.9s;

}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.7s;
}


.bord:hover {
    border-right: 5px solid red;
    transition: .9s;
    border-right-width: 4px;
}