main {
    margin-top: 25%;
}

.headd1 {
    height: 25%;
    background-color: black;
}

.w3-animate-top {
    position: relative;
    animation: animatetop .9s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

.w3-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: 0px;
        opacity: 0
    }
    to {
        bottom: -300px;
        opacity: 1
    }
}

#dropdown {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    transition: .9s;
}
.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    margin-left: 9px;
}
.flex > div {
    width: 100%;
    text-align: center;
}
.a {
    color: white;
}

.a:visited {
    color: white;
}
/*Home Page*/
.headd5 {
    height: 25%;
    background-color: #cc0000;
}
.sect {
    padding:9px;
    margin-top: 9px;
}
.sect:hover{
    background-color: white;
    transition: .65s;
}
.sect:hover > a{
    transition: .65s;
    color: #cc0000;
}

.bott {
    padding-bottom: 9px;
}
.bott{
    padding:9px;
    margin-top: 9px;
}
.bott:nth-child():hover{
    background-color: white;
    transition: .65s;
}
.bott:nth-child():hover > a{
    transition: .65s;
    color: #cc0000;
}
.downbott {
    padding-bottom: 7px
}
.button {
    border-radius: 50%;
    background-color: white;
}

.sidenav {
    height: 0px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
