main {
    margin-top: 25%;
}

.headd1 {
    height: 25%;
    background-color: black;
}

.w3-animate-top {
    position: relative;
    animation: animatetop .9s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

.w3-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.dropdown {
    display: none;
}
.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    margin-left: 9px;
}
.flex > div {
    width: 100%;
    text-align: center;
}
.a {
    color: white;
}

.a:visited {
    color: white;
}
/*Home Page*/
.headd5 {
    height: 25%;
    background-color: #cc0000;
}
.sect {
    padding:9px;
    margin-top: 9px;
}
.sect:hover{
    background-color: white;
    transition: .65s;
}
.sect:hover > a{
    transition: .65s;
    color: #cc0000;
}

.bott {
    padding-bottom: 9px;
}
.bott{
    padding:9px;
    margin-top: 9px;
}
.bott:nth-child():hover{
    background-color: white;
    transition: .65s;
}
.bott:nth-child():hover > a{
    transition: .65s;
    color: #cc0000;
}
.downbott {
    padding-bottom: 7px
}
.button {
    border-radius: 50%;
    background-color: white;
}